<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
    <test name="ToolsQA" >
        <classes>
            <class name="TestHomeTitle" />
            <class name="TestLogInPositive"/>
            <class name="TestLogInNegative1"/>
            <class name="TestLogInNegative2"/>
            <class name="TestLogInNegative3"/>
        </classes>
    </test>
</suite>